In [1]:
import pandas as pd
XdataFrame = pd.read_json('JLdata/new_train.json')
test = pd.read_json("JLdata/new_test.json")

In [2]:
XdataFrame.columns

Index(['bathrooms', 'bedrooms', 'latitude', 'listing_id', 'longitude', 'price',
       'interest_level', 'created_month', 'created_day', 'created_hour',
       'num_description_words', 'east', 'west', 'num_photos', 'num_features',
       'cats_allow', 'dining_room', 'dishwash', 'dogs_allow', 'doorman',
       'elev', 'fitness_cent', 'hardwood_floor', 'laundry_in_build',
       'laundry_in_unit', 'no_fe', 'outdoor_spac', 'pre', 'roof_deck', 'war',
       'distance', 'price_per_bed', 'price_per_bath', 'room_num', 'bedsPerc',
       'bathPerc', 'num_pos', 'num_pos_density', 'num_building_id',
       'num_manager', 'num_fremanager', 'num_price_q', 'num_priceXroom'],
      dtype='object')

In [3]:
num_feats = ['bathrooms', 'bedrooms', 'latitude', 'longitude', 'price',
        'created_month', 'created_day', 'created_hour',
       'num_description_words', 'east', 'west', 'num_photos', 'num_features',
       'cats_allow', 'dining_room', 'dishwash', 'dogs_allow', 'doorman',
       'elev', 'fitness_cent', 'hardwood_floor', 'laundry_in_build',
       'laundry_in_unit', 'no_fe', 'outdoor_spac', 'pre', 'roof_deck', 'war',
       'distance', 'price_per_bed', 'price_per_bath', 'room_num', 'bedsPerc',
       'bathPerc', 'num_pos', 'num_pos_density', 'num_building_id',
       'num_manager', 'num_fremanager', 'num_price_q', 'num_priceXroom']
interest=['interest_level']
listing_id = ['listing_id']
X = XdataFrame[num_feats]
Y = XdataFrame[interest]
test_x = test[num_feats]
test_listingID = test[listing_id]

In [4]:
test_x

,bathrooms,bedrooms,latitude,longitude,price,created_month,created_day,created_hour,num_description_words,east,...,room_num,bedsPerc,bathPerc,num_pos,num_pos_density,num_building_id,num_manager,num_fremanager,num_price_q,num_priceXroom
0,1.0,1,40.7185,-73.9865,2950,6,11,5,78,0,...,2.0,0.333333,0.333333,0.370506,7,0.370506,0.370506,3.218876,8,1180.000000
1,1.0,2,40.7278,-74.0000,2850,6,24,6,35,0,...,3.0,0.500000,0.250000,0.409639,83,0.100557,0.370506,2.302585,7,814.285714
2,1.0,0,40.7260,-74.0026,2295,6,17,1,39,0,...,1.0,0.000000,0.500000,0.370506,30,0.100557,0.368988,7.788626,3,918.000000
3,1.0,2,40.7321,-74.0028,2900,6,21,5,22,0,...,3.0,0.500000,0.250000,0.370506,13,0.370506,0.392308,4.875197,8,828.571429
5,1.0,1,40.7054,-74.0095,3254,6,16,7,85,0,...,2.0,0.333333,0.333333,0.329897,97,0.389610,0.370506,3.218876,10,1301.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124003,1.0,1,40.7925,-73.9454,1700,4,26,16,45,0,...,2.0,0.333333,0.333333,0.370506,1,0.370506,0.370506,3.912023,0,680.000000
124005,1.0,2,40.7456,-73.9797,4195,4,21,5,111,0,...,3.0,0.500000,0.250000,0.460674,89,0.370506,0.238095,4.442651,15,1198.571429
124006,1.0,0,40.7416,-73.9829,2400,4,20,1,141,0,...,1.0,0.000000,0.500000,0.370506,10,0.100557,0.368988,7.788626,4,960.000000
124007,2.0,2,40.7485,-73.9800,6895,4,8,2,100,0,...,4.0,0.400000,0.400000,0.370506,21,0.370506,0.097004,6.553933,19,1723.750000
124010,1.0,3,40.7447,-73.9741,4695,4,18,2,58,0,...,4.0,0.600000,0.200000,0.344156,154,0.423077,0.485075,4.905275,16,1043.333333

In [5]:
Y

        interest_level
4                    1
6                    0
9                    1
10                   1
15                   0
...                ...
123998               0
124000               0
124002               1
124008               1
124009               2

[47400 rows x 1 columns]

In [10]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import KFold
import numpy as np
clf=[]
scores = []
best_clf = BaggingClassifier(KNeighborsClassifier(n_neighbors=9),n_estimators=100,max_samples=0.5, max_features=0.5)
cv = KFold(10,True,1)
for train_index, test_index in cv.split(X):
    X_train, X_test, y_train, y_test = X.iloc[train_index], X.iloc[test_index], Y.iloc[train_index], Y.iloc[test_index]
    best_clf.fit(X_train, y_train)
    scores.append(best_clf.score(X_test, y_test))
    clf.append(best_clf)
    print("Done")
print("________________________")
print('scores.Mean()=',np.mean(scores))
print(scores)

# clf.fit(X, Y)

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:645: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Done
________________________
scores.Mean()= 0.7091983122362869
[0.7181434599156118, 0.7139240506329114, 0.7052742616033755, 0.6985232067510548, 0.7135021097046413, 0.7008438818565401, 0.7183544303797469, 0.7151898734177216, 0.7059071729957805, 0.7023206751054852]

In [13]:
clf[6].classes_

array([0, 1, 2])

In [14]:
y= clf[6].predict_proba(test_x)
y

array([[0.68333333, 0.21444444, 0.10222222],
       [0.59888889, 0.28555556, 0.11555556],
       [0.79      , 0.18222222, 0.02777778],
       ...,
       [0.67333333, 0.28222222, 0.04444444],
       [0.91555556, 0.08333333, 0.00111111],
       [0.65888889, 0.25222222, 0.08888889]])

In [15]:
final_test = pd.DataFrame(y, columns=['low','medium','high'])
final_test = final_test[['high', 'medium','low']]
test_listingID.reset_index(drop=True, inplace=True)
final_test.reset_index(drop=True, inplace=True)
final_test = pd.concat( [test_listingID, final_test], axis=1) 
final_test

       listing_id      high    medium       low
0         7142618  0.102222  0.214444  0.683333
1         7210040  0.115556  0.285556  0.598889
2         7174566  0.027778  0.182222  0.790000
3         7191391  0.117778  0.301111  0.581111
4         7171695  0.050000  0.224444  0.725556
...           ...       ...       ...       ...
74654     6928108  0.245556  0.464444  0.290000
74655     6906674  0.020000  0.165556  0.814444
74656     6897967  0.044444  0.282222  0.673333
74657     6842183  0.001111  0.083333  0.915556
74658     6889319  0.088889  0.252222  0.658889

[74659 rows x 4 columns]

In [17]:
final_test.to_csv("output/Submission7.csv", index=False)